@import url('font.css');
@import "tailwindcss";
/*@import "base.css";*/

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: CormorantGaramond;
  font-weight: 100;
  font-size: 20px;
}

/*h1, h2, h3, h4 {*/
/*  font-weight: 100;*/

/*}*/

/*.gradient-text{*/
/*  color: #6E88C2;*/
/*  font-size: 3em;*/
/*  text-align: center;*/
/*}*/

/*html {*/
/*    min-height: 100vh;*/
/*    background: #132241*/
/*}*/

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.sun-logo .sun_lines{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  z-index: 1;
}

.sun-logo .sun_face {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.sun-logo:hover .sun_lines {
  transform: rotate(360deg);
}

